.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/crucero2.png'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.header-title {
    text-align: center;
    color: black;
    font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0;
}

.header-subtitle {
    text-align: center;
    color: black;
    font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight:bold;
    line-height: 1.25em;
    padding: 0;
    text-shadow: 0px 0px 2px grey;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitle-color {
    color: #fc7609;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    font-weight:600;
    text-shadow: 0px 0px 7px #ffffff;
}

@media only screen and (max-width: 2200px) {
    .background-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/crucero3.png'); /* Ruta de tu imagen de fondo */
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
    }

    .header-title {
        font-size: 30px;
    }
    
    .header-subtitle {
        font-size: 60px;
        margin-bottom: 50px;
    }
    
    .subtitle-color {
        color: #fc7609;
        text-decoration: underline;
        margin: 0;
        padding: 0;
        font-weight:600;
        text-shadow: 0px 0px 7px #ffffff;
    }
}

@media only screen and (max-width: 1500px) {
    .background-container {
        margin: 0;
        padding: 0;
        background-image: none;
        background-color: white;
        width: 100%;
        height: 100%;
    }

    .header-title {
        font-size: 30px;
    }
    
    .header-subtitle {
        font-size: 60px;
        margin-bottom: 50px;
    }
    
    .subtitle-color {
        color: #fc7609;
        text-decoration: underline;
        margin: 0;
        padding: 0;
        font-weight:600;
        text-shadow: 0px 0px 7px #ffffff;
    }
}

@media only screen and (max-width: 1100px) {

    .header-title {
        font-size: 25px;
    }
    
    .header-subtitle {
        font-size: 40px;
        margin-bottom: 0px;
    }
    
    .subtitle-color {
        color: #fc7609;
        text-decoration: underline;
        margin: 0;
        padding: 0;
        font-weight:600;
        text-shadow: 0px 0px 7px #ffffff;
    }
}